# Desarrollo local
GOALX_ADMIN_USER=admin
GOALX_ADMIN_PASSWORD=cambia-esta-contrasena
## Para desplegar en railway, se debe generar el token y pegarlo
GOALX_SESSION_SECRET=cambia-este-secreto-por-una-cadena-larga
## Para railway, este valor debe de agregarse como true
GOALX_COOKIE_SECURE=false
